# Tutorial 1 - Portfolio and Risk Using Pandas and NumPy

Learning objectives: after this tutorial, you should have a good idea what is: 
- RoI (Return of Invest) :  np.log(data/data.iloc[0]).tail(1)
- Portfolio:  portfolios = [.25, .15, .40, .20]
- Total return:  np.sum((data/data.iloc[0])*portfolios*100000, axis=1)

### Resources
- Pandas Datareader
https://pandas-datareader.readthedocs.io/ (https://youtu.be/sgndYho8RyI)
- Pandas https://pandas.pydata.org (https://youtu.be/m8ahf_c9hEc)
- NumPy http://numpy.org (Focus here)

### Pandas Datareader & Pandas DataFrame

In [ ]:
#pip install pandas-datareader

In [4]:
import numpy as np
import yfinance as yf
import datetime as dt
import pandas as pd

### DataFrame

In [11]:
# Define the ticker symbol
tickerSymbol = 'AAPL'

# Set the start date
start_date = '2022-01-01'

# Set the end date
end_date = '2022-12-31'

# Get the data for the stock
data = yf.download(tickerSymbol, start=start_date, end=end_date)

[*********************100%***********************]  1 of 1 completed

In [12]:
# Print the first few rows of the data
print(data.head())

                  Open        High         Low       Close   Adj Close  \
Date
2022-01-03  177.830002  182.880005  177.710007  182.009995  180.683868
2022-01-04  182.630005  182.940002  179.119995  179.699997  178.390701
2022-01-05  179.610001  180.169998  174.639999  174.919998  173.645538
2022-01-06  172.699997  175.300003  171.639999  172.000000  170.746811
2022-01-07  172.889999  174.139999  171.029999  172.169998  170.915588

               Volume
Date
2022-01-03  104487900
2022-01-04   99310400
2022-01-05   94537600
2022-01-06   96904000
2022-01-07   86709100

In [13]:
# Print the index of the data to confirm the time series
data.index

DatetimeIndex(['2022-01-03', '2022-01-04', '2022-01-05', '2022-01-06',
               '2022-01-07', '2022-01-10', '2022-01-11', '2022-01-12',
               '2022-01-13', '2022-01-14',
               ...
               '2022-12-16', '2022-12-19', '2022-12-20', '2022-12-21',
               '2022-12-22', '2022-12-23', '2022-12-27', '2022-12-28',
               '2022-12-29', '2022-12-30'],
              dtype='datetime64[ns]', name='Date', length=251, freq=None)

In [14]:
# Print out data attibutes types 
data.dtypes

Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [15]:
# Comfirm the Dataframe 
type(data)

pandas.core.frame.DataFrame

### NumPy

In [16]:
data.to_numpy()

array([[1.77830002e+02, 1.82880005e+02, 1.77710007e+02, 1.82009995e+02,
        1.80683868e+02, 1.04487900e+08],
       [1.82630005e+02, 1.82940002e+02, 1.79119995e+02, 1.79699997e+02,
        1.78390701e+02, 9.93104000e+07],
       [1.79610001e+02, 1.80169998e+02, 1.74639999e+02, 1.74919998e+02,
        1.73645538e+02, 9.45376000e+07],
       ...,
       [1.29669998e+02, 1.31029999e+02, 1.25870003e+02, 1.26040001e+02,
        1.25847855e+02, 8.54384000e+07],
       [1.27989998e+02, 1.30479996e+02, 1.27730003e+02, 1.29610001e+02,
        1.29412415e+02, 7.57037000e+07],
       [1.28410004e+02, 1.29949997e+02, 1.27430000e+02, 1.29929993e+02,
        1.29731918e+02, 7.69606000e+07]])

In [17]:
arr = data.to_numpy()

In [18]:
arr.shape

(251, 6)

In [19]:
len(data)

251

In [20]:
arr[0]

array([1.77830002e+02, 1.82880005e+02, 1.77710007e+02, 1.82009995e+02,
       1.80683868e+02, 1.04487900e+08])

In [21]:
data.head(1)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-03,177.830002,182.880005,177.710007,182.009995,180.683868,104487900

In [22]:
arr.dtype

dtype('float64')

In [23]:
small = arr[:10, 0].copy()

In [24]:
small

array([177.83000183, 182.63000488, 179.61000061, 172.69999695,
       172.88999939, 169.08000183, 172.32000732, 176.11999512,
       175.77999878, 171.33999634])

In [25]:
data.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-03,177.830002,182.880005,177.710007,182.009995,180.683868,104487900
2022-01-04,182.630005,182.940002,179.119995,179.699997,178.390701,99310400
2022-01-05,179.610001,180.169998,174.639999,174.919998,173.645538,94537600
2022-01-06,172.699997,175.300003,171.639999,172.000000,170.746811,96904000
2022-01-07,172.889999,174.139999,171.029999,172.169998,170.915588,86709100

In [26]:
np.max(small)

182.6300048828125

In [27]:
small.max()

182.6300048828125

In [28]:
# the index of the max in samll

small.argmax()

1

In [ ]:
small

In [29]:
small[small.argmax()]

182.6300048828125

### Logarithm

In [30]:
np.log(small)

array([5.18082805, 5.20746227, 5.19078784, 5.15155597, 5.15265555,
       5.13037199, 5.14935326, 5.17116555, 5.16923321, 5.14364987])

In [31]:
np.log(data)

                Open      High       Low     Close  Adj Close     Volume
Date
2022-01-03  5.180828  5.208830  5.180153  5.204062   5.196749  18.464582
2022-01-04  5.207462  5.209158  5.188056  5.191289   5.183976  18.413761
2022-01-05  5.190788  5.193901  5.162727  5.164329   5.157016  18.364508
2022-01-06  5.151556  5.166499  5.145399  5.147494   5.140182  18.389231
2022-01-07  5.152656  5.159860  5.141839  5.148482   5.141170  18.278069
...              ...       ...       ...       ...        ...        ...
2022-12-23  4.874586  4.885979  4.864761  4.881741   4.880215  17.971497
2022-12-27  4.878094  4.878322  4.857640  4.867765   4.866240  18.049730
2022-12-28  4.864993  4.875426  4.835250  4.836599   4.835074  18.263306
2022-12-29  4.851952  4.871220  4.849919  4.864530   4.863004  18.142338
2022-12-30  4.855228  4.867150  4.847567  4.866996   4.865470  18.158804

[251 rows x 6 columns]

In [32]:
data/data.shift()

                Open      High       Low     Close  Adj Close    Volume
Date
2022-01-03       NaN       NaN       NaN       NaN        NaN       NaN
2022-01-04  1.026992  1.000328  1.007934  0.987308   0.987308  0.950449
2022-01-05  0.983464  0.984858  0.974989  0.973400   0.973400  0.951941
2022-01-06  0.961528  0.972970  0.982822  0.983307   0.983307  1.025031
2022-01-07  1.001100  0.993383  0.996446  1.000988   1.000988  0.894794
...              ...       ...       ...       ...        ...       ...
2022-12-23  0.974470  0.984096  0.994935  0.997202   0.997202  0.819694
2022-12-27  1.003514  0.992373  0.992903  0.986122   0.986122  1.081374
2022-12-28  0.986984  0.997108  0.977859  0.969315   0.969315  1.238098
2022-12-29  0.987044  0.995802  1.014777  1.028324   1.028324  0.886062
2022-12-30  1.003282  0.995938  0.997651  1.002469   1.002469  1.016603

[251 rows x 6 columns]

In [33]:
data.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-03,177.830002,182.880005,177.710007,182.009995,180.683868,104487900
2022-01-04,182.630005,182.940002,179.119995,179.699997,178.390701,99310400
2022-01-05,179.610001,180.169998,174.639999,174.919998,173.645538,94537600
2022-01-06,172.699997,175.300003,171.639999,172.000000,170.746811,96904000
2022-01-07,172.889999,174.139999,171.029999,172.169998,170.915588,86709100

In [34]:
182.630005/177.830002

1.0269920876455931

In [35]:
np.sum(np.log(data/data.shift()))

Open        -0.325600
High        -0.341680
Low         -0.332586
Close       -0.337066
Adj Close   -0.331279
Volume      -0.305778
dtype: float64

In [36]:
np.log(data/data.iloc[0]).tail(1)

              Open     High       Low     Close  Adj Close    Volume
Date
2022-12-30 -0.3256 -0.34168 -0.332586 -0.337066  -0.331279 -0.305778

Compare the tweo results above, explain the differences and what conclusion you have draw?

In [37]:
data/data.iloc[0]

                Open      High       Low     Close  Adj Close    Volume
Date
2022-01-03  1.000000  1.000000  1.000000  1.000000   1.000000  1.000000
2022-01-04  1.026992  1.000328  1.007934  0.987308   0.987308  0.950449
2022-01-05  1.010010  0.985182  0.982725  0.961046   0.961046  0.904771
2022-01-06  0.971152  0.958552  0.965843  0.945003   0.945003  0.927418
2022-01-07  0.972221  0.952209  0.962411  0.945937   0.945937  0.829848
...              ...       ...       ...       ...        ...       ...
2022-12-23  0.736209  0.724081  0.729503  0.724466   0.728670  0.610740
2022-12-27  0.738795  0.718559  0.724326  0.714411   0.718558  0.660438
2022-12-28  0.729180  0.716481  0.708289  0.692489   0.696509  0.817687
2022-12-29  0.719732  0.713473  0.718755  0.712104   0.716237  0.724521
2022-12-30  0.722094  0.710575  0.717067  0.713862   0.718005  0.736550

[251 rows x 6 columns]

In [38]:
np.log(data/data.iloc[0])

                Open      High       Low     Close  Adj Close    Volume
Date
2022-01-03  0.000000  0.000000  0.000000  0.000000   0.000000  0.000000
2022-01-04  0.026634  0.000328  0.007903 -0.012773  -0.012773 -0.050821
2022-01-05  0.009960 -0.014929 -0.017426 -0.039733  -0.039733 -0.100074
2022-01-06 -0.029272 -0.042331 -0.034754 -0.056567  -0.056567 -0.075350
2022-01-07 -0.028172 -0.048971 -0.038314 -0.055579  -0.055579 -0.186512
...              ...       ...       ...       ...        ...       ...
2022-12-23 -0.306242 -0.322852 -0.315392 -0.322321  -0.316534 -0.493085
2022-12-27 -0.302734 -0.330508 -0.322514 -0.336296  -0.330509 -0.414852
2022-12-28 -0.315835 -0.333404 -0.344903 -0.367462  -0.361675 -0.201276
2022-12-29 -0.328876 -0.337610 -0.330234 -0.339532  -0.333745 -0.322244
2022-12-30 -0.325600 -0.341680 -0.332586 -0.337066  -0.331279 -0.305778

[251 rows x 6 columns]

### Shape 

In numpy, reshape is a method used to change the shape (i.e., number of rows and columns) of a numpy array while maintaining the same number of elements. The reshape method returns a new numpy array with the specified shape and does not modify the original array in place.

In [44]:
small.shape

(10,)

In [40]:
small

array([177.83000183, 182.63000488, 179.61000061, 172.69999695,
       172.88999939, 169.08000183, 172.32000732, 176.11999512,
       175.77999878, 171.33999634])

In [41]:
small.reshape(2, 5)

array([[177.83000183, 182.63000488, 179.61000061, 172.69999695,
        172.88999939],
       [169.08000183, 172.32000732, 176.11999512, 175.77999878,
        171.33999634]])

In [42]:
small.reshape(10, 1)

array([[177.83000183],
       [182.63000488],
       [179.61000061],
       [172.69999695],
       [172.88999939],
       [169.08000183],
       [172.32000732],
       [176.11999512],
       [175.77999878],
       [171.33999634]])

In [43]:
small.reshape(-1, 1)

array([[177.83000183],
       [182.63000488],
       [179.61000061],
       [172.69999695],
       [172.88999939],
       [169.08000183],
       [172.32000732],
       [176.11999512],
       [175.77999878],
       [171.33999634]])

### Portfolios

In [46]:
# Get portfolios

tickers = ['AAPL', 'MSFT', 'TWTR', 'IBM']
start = '2020-01-01'
end = '2020-12-31'
data = yf.download(tickers, start, end)

[*********************100%***********************]  4 of 4 completed

In [47]:
data.head()

            Adj Close                                         Close  \
                 AAPL         IBM        MSFT       TWTR       AAPL
Date
2020-01-02  73.449402  110.232491  155.761826  32.299999  75.087502
2020-01-03  72.735321  109.353386  153.822296  31.520000  74.357498
2020-01-06  73.314888  109.158020  154.219910  31.639999  74.949997
2020-01-07  72.970085  109.231270  152.813782  32.540001  74.597504
2020-01-08  74.143890  110.142975  155.247833  33.049999  75.797501

                                                    High              ...  \
                   IBM        MSFT       TWTR       AAPL         IBM  ...
Date                                                                  ...
2020-01-02  129.464630  160.619995  32.299999  75.150002  129.942642  ...
2020-01-03  128.432129  158.619995  31.520000  75.144997  128.929260  ...
2020-01-06  128.202682  159.029999  31.639999  74.989998  128.336517  ...
2020-01-07  128.288712  157.580002  32.540001  75.224998  129.024857  ...
2020-01-08  129.359467  160.089996  33.049999  76.110001  129.885284  ...

                   Low                  Open                          \
                  MSFT       TWTR       AAPL         IBM        MSFT
Date
2020-01-02  158.330002  31.959999  74.059998  129.063095  158.779999
2020-01-03  158.059998  31.260000  74.287498  127.695984  158.320007
2020-01-06  156.509995  31.160000  73.447502  127.552582  157.080002
2020-01-07  157.320007  31.719999  74.959999  127.810707  159.320007
2020-01-08  157.949997  32.349998  74.290001  128.594650  158.929993

                          Volume
                 TWTR       AAPL      IBM      MSFT      TWTR
Date
2020-01-02  32.310001  135480400  3293436  22622100  10694420
2020-01-03  31.709999  146322800  2482890  21116200  14440378
2020-01-06  31.230000  118387200  2537073  20813700  12585831
2020-01-07  31.799999  108872000  3232977  21634100  13484461
2020-01-08  32.349998  132079200  4545916  27746500  14637344

[5 rows x 24 columns]

In [48]:
data = data['Adj Close']

In [49]:
data.head()

                 AAPL         IBM        MSFT       TWTR
Date
2020-01-02  73.449402  110.232491  155.761826  32.299999
2020-01-03  72.735321  109.353386  153.822296  31.520000
2020-01-06  73.314888  109.158020  154.219910  31.639999
2020-01-07  72.970085  109.231270  152.813782  32.540001
2020-01-08  74.143890  110.142975  155.247833  33.049999

In [50]:
portfolios = [.25, .15, .40, .20]

In [51]:
np.sum(portfolios)

1.0

In [52]:
(data/data.iloc[0])*portfolios*100000

                    AAPL           IBM          MSFT          TWTR
Date
2020-01-02  25000.000000  15000.000000  40000.000000  20000.000000
2020-01-03  24756.948051  14880.374932  39501.924323  19517.028608
2020-01-06  24954.215470  14853.790314  39604.032403  19591.331354
2020-01-07  24836.854794  14863.757859  39242.935472  20148.607854
2020-01-08  25236.383316  14987.819061  39868.005576  20464.396296
...                  ...           ...           ...           ...
2020-12-23  43979.003154  14443.708030  55624.793361  33622.291343
2020-12-24  44318.194566  14535.802701  56060.192749  33417.958202
2020-12-28  45903.257035  14550.959058  56616.387508  33702.787363
2020-12-29  45292.059133  14432.051371  56412.535767  33659.443897
2020-12-30  44905.870475  14495.000240  55790.898263  33640.868801

[252 rows x 4 columns]

We can get the sum of the full return as follows.

In [53]:
np.sum((data/data.iloc[0])*portfolios*100000, axis=1)

Date
2020-01-02    100000.000000
2020-01-03     98656.275914
2020-01-06     99003.369541
2020-01-07     99092.155979
2020-01-08    100556.604248
                  ...
2020-12-23    147669.795888
2020-12-24    148332.148218
2020-12-28    150773.390965
2020-12-29    149796.090168
2020-12-30    148832.637779
Length: 252, dtype: float64

### A random portfolio 

A random portfolio can be generated as follows with NumPy

Actually, when we get to Monte Carlo Simulation, this will be handy. There, we will generate multiple random portfolios and calculate the return and risk for each of them, to optimize the portfolio composition.

In [60]:
weight = np.random.random(4)
weight /= weight.sum()
weight

array([0.36202807, 0.29171512, 0.02138818, 0.32486863])

In [61]:
weight.sum()

1.0

In [62]:
np.sum((data/data.iloc[0])*portfolios*100000, axis=1)

Date
2020-01-02    100000.000000
2020-01-03     98656.275914
2020-01-06     99003.369541
2020-01-07     99092.155979
2020-01-08    100556.604248
                  ...
2020-12-23    147669.795888
2020-12-24    148332.148218
2020-12-28    150773.390965
2020-12-29    149796.090168
2020-12-30    148832.637779
Length: 252, dtype: float64

Compare the random generated portfolio with the portfolio we defined before

In [63]:
np.sum((data/data.iloc[0])*weight*100000, axis=1)

Date
2020-01-02    100000.000000
2020-01-03     98604.246950
2020-01-06     98964.364344
2020-01-07     99699.697696
2020-01-08    101065.901616
                  ...
2020-12-23    149364.609312
2020-12-24    149726.273155
2020-12-28    152543.497459
2020-12-29    151345.861760
2020-12-30    150845.626558
Length: 252, dtype: float64

This is just one randomly generated portfolio and it has more return than the initial portfolio. Can we repeat this process and find the best portfolio?

# End

2023.2.18