# Tutorial 1 - Portfolio and Risk Using Pandas and NumPy

- Pandas Datareader
- Pandas
- Numpy
- Portfolio and return

### Resources
- Pandas Datareader
https://pandas-datareader.readthedocs.io/ (https://youtu.be/sgndYho8RyI)
- Pandas https://pandas.pydata.org (https://youtu.be/m8ahf_c9hEc)
- NumPy http://numpy.org (Focus here)

### Pandas Datareader & Pandas DataFrame

In [54]:
#pip install pandas-datareader

In [3]:
import numpy as np
import pandas_datareader as pdr
import datetime as dt
import pandas as pd

### DataFrame

In [4]:
start = dt.datetime(2020, 1, 1)
data = pdr.get_data_yahoo("AAPL", start)

In [5]:
data.head()

                 High        Low       Open      Close       Volume  Adj Close
Date
2020-01-02  75.150002  73.797501  74.059998  75.087502  135480400.0  73.894333
2020-01-03  75.144997  74.125000  74.287498  74.357498  146322800.0  73.175934
2020-01-06  74.989998  73.187500  73.447502  74.949997  118387200.0  73.759003
2020-01-07  75.224998  74.370003  74.959999  74.597504  108872000.0  73.412109
2020-01-08  76.110001  74.290001  74.290001  75.797501  132079200.0  74.593040

In [6]:
data.index

DatetimeIndex(['2020-01-02', '2020-01-03', '2020-01-06', '2020-01-07',
               '2020-01-08', '2020-01-09', '2020-01-10', '2020-01-13',
               '2020-01-14', '2020-01-15',
               ...
               '2022-02-11', '2022-02-14', '2022-02-15', '2022-02-16',
               '2022-02-17', '2022-02-18', '2022-02-22', '2022-02-23',
               '2022-02-24', '2022-02-25'],
              dtype='datetime64[ns]', name='Date', length=543, freq=None)

In [7]:
data.dtypes

High         float64
Low          float64
Open         float64
Close        float64
Volume       float64
Adj Close    float64
dtype: object

In [8]:
type(data)

pandas.core.frame.DataFrame

### NumPy

In [9]:
data.to_numpy()

array([[7.51500015e+01, 7.37975006e+01, 7.40599976e+01, 7.50875015e+01,
        1.35480400e+08, 7.38943329e+01],
       [7.51449966e+01, 7.41250000e+01, 7.42874985e+01, 7.43574982e+01,
        1.46322800e+08, 7.31759338e+01],
       [7.49899979e+01, 7.31875000e+01, 7.34475021e+01, 7.49499969e+01,
        1.18387200e+08, 7.37590027e+01],
       ...,
       [1.66149994e+02, 1.59750000e+02, 1.65539993e+02, 1.60070007e+02,
        9.00092000e+07, 1.60070007e+02],
       [1.62850006e+02, 1.52000000e+02, 1.52580002e+02, 1.62740005e+02,
        1.41147500e+08, 1.62740005e+02],
       [1.65119995e+02, 1.60869995e+02, 1.63839996e+02, 1.64850006e+02,
        9.18817000e+07, 1.64850006e+02]])

In [10]:
arr = data.to_numpy()

In [11]:
arr.shape

(543, 6)

In [12]:
len(data)

543

In [13]:
arr[0]

array([7.51500015e+01, 7.37975006e+01, 7.40599976e+01, 7.50875015e+01,
       1.35480400e+08, 7.38943329e+01])

In [14]:
data.head(1)

                 High        Low       Open      Close       Volume  Adj Close
Date
2020-01-02  75.150002  73.797501  74.059998  75.087502  135480400.0  73.894333

In [15]:
arr.dtype

dtype('float64')

In [16]:
small = arr[:10, 0].copy()

In [17]:
small

array([75.15000153, 75.14499664, 74.98999786, 75.22499847, 76.11000061,
       77.60749817, 78.16750336, 79.26750183, 79.39250183, 78.875     ])

In [18]:
data.head()

                 High        Low       Open      Close       Volume  Adj Close
Date
2020-01-02  75.150002  73.797501  74.059998  75.087502  135480400.0  73.894333
2020-01-03  75.144997  74.125000  74.287498  74.357498  146322800.0  73.175934
2020-01-06  74.989998  73.187500  73.447502  74.949997  118387200.0  73.759003
2020-01-07  75.224998  74.370003  74.959999  74.597504  108872000.0  73.412109
2020-01-08  76.110001  74.290001  74.290001  75.797501  132079200.0  74.593040

In [19]:
np.max(small)

79.39250183105469

In [20]:
small.max()

79.39250183105469

In [21]:
small.argmax()

8

In [22]:
small

array([75.15000153, 75.14499664, 74.98999786, 75.22499847, 76.11000061,
       77.60749817, 78.16750336, 79.26750183, 79.39250183, 78.875     ])

In [23]:
small[small.argmax()]

79.39250183105469

In [24]:
np.log(small)

array([4.31948614, 4.31941954, 4.31735474, 4.3204836 , 4.33217967,
       4.35166405, 4.358854  , 4.37282823, 4.37440393, 4.36786432])

In [25]:
np.log(data)

                High       Low      Open     Close     Volume  Adj Close
Date
2020-01-02  4.319486  4.301325  4.304876  4.318654  18.724338   4.302636
2020-01-03  4.319420  4.305753  4.307943  4.308885  18.801326   4.292867
2020-01-06  4.317355  4.293025  4.296571  4.316821  18.589471   4.300803
2020-01-07  4.320484  4.309053  4.316955  4.312107  18.505683   4.296089
2020-01-08  4.332180  4.307976  4.307976  4.328065  18.698912   4.312047
...              ...       ...       ...       ...        ...        ...
2022-02-18  5.138970  5.113132  5.134739  5.119789  18.229692   5.119789
2022-02-22  5.116136  5.088522  5.105824  5.101816  18.328157   5.101816
2022-02-23  5.112891  5.073610  5.109213  5.075611  18.315422   5.075611
2022-02-24  5.092830  5.023881  5.027689  5.092154  18.765316   5.092154
2022-02-25  5.106672  5.080597  5.098890  5.105036  18.336012   5.105036

[543 rows x 6 columns]

In [26]:
data/data.shift()

                High       Low      Open     Close    Volume  Adj Close
Date
2020-01-02       NaN       NaN       NaN       NaN       NaN        NaN
2020-01-03  0.999933  1.004438  1.003072  0.990278  1.080029   0.990278
2020-01-06  0.997937  0.987352  0.988693  1.007968  0.809082   1.007968
2020-01-07  1.003134  1.016157  1.020593  0.995297  0.919626   0.995297
2020-01-08  1.011765  0.998924  0.991062  1.016086  1.213160   1.016086
...              ...       ...       ...       ...       ...        ...
2022-02-18  0.992031  0.986466  0.992925  0.990644  1.187168   0.990644
2022-02-22  0.977425  0.975690  0.971499  0.982188  1.103476   0.982188
2022-02-23  0.996760  0.985199  1.003394  0.974136  0.987346   0.974136
2022-02-24  0.980139  0.951487  0.921711  1.016680  1.568145   1.016680
2022-02-25  1.013939  1.058355  1.073797  1.012965  0.650962   1.012965

[543 rows x 6 columns]

In [27]:
data.head()

                 High        Low       Open      Close       Volume  Adj Close
Date
2020-01-02  75.150002  73.797501  74.059998  75.087502  135480400.0  73.894333
2020-01-03  75.144997  74.125000  74.287498  74.357498  146322800.0  73.175934
2020-01-06  74.989998  73.187500  73.447502  74.949997  118387200.0  73.759003
2020-01-07  75.224998  74.370003  74.959999  74.597504  108872000.0  73.412109
2020-01-08  76.110001  74.290001  74.290001  75.797501  132079200.0  74.593040

In [28]:
75.144997/75.150002

0.9999333998687053

In [29]:
np.sum(np.log(data/data.shift()))

High         0.787186
Low          0.779272
Open         0.794015
Close        0.786382
Volume      -0.388325
Adj Close    0.802400
dtype: float64

In [30]:
np.log(data/data.iloc[0]).tail(1)

                High       Low      Open     Close    Volume  Adj Close
Date
2022-02-25  0.787186  0.779272  0.794015  0.786382 -0.388325     0.8024

Compare the tweo results above, explain the differences and what conclusion you have draw?

In [ ]:
data/data.iloc[0]

In [53]:
np.log(data/data.iloc[0])

Symbols         AAPL      MSFT      TWTR       IBM
Date
2020-01-02  0.000000  0.000000  0.000000  0.000000
2020-01-03 -0.009769 -0.012530 -0.024445 -0.008007
2020-01-06 -0.001833 -0.009948 -0.020645 -0.009795
2020-01-07 -0.006547 -0.019108  0.007403 -0.009124
2020-01-08  0.009411 -0.003305  0.022954 -0.000813
...              ...       ...       ...       ...
2022-02-18  0.817153  0.604627  0.060661  0.071870
2022-02-22  0.799180  0.603897  0.019317  0.068406
2022-02-23  0.772975  0.577663  0.014141  0.053364
2022-02-24  0.789518  0.627494  0.079709  0.052544
2022-02-25  0.802400  0.636685  0.088532  0.070501

[543 rows x 4 columns]

Familiar with shape function

In [36]:
small.shape

(10,)

In [37]:
small

array([75.15000153, 75.14499664, 74.98999786, 75.22499847, 76.11000061,
       77.60749817, 78.16750336, 79.26750183, 79.39250183, 78.875     ])

In [38]:
small.reshape(2, 5)

array([[75.15000153, 75.14499664, 74.98999786, 75.22499847, 76.11000061],
       [77.60749817, 78.16750336, 79.26750183, 79.39250183, 78.875     ]])

In [39]:
small.reshape(10, 1)

array([[75.15000153],
       [75.14499664],
       [74.98999786],
       [75.22499847],
       [76.11000061],
       [77.60749817],
       [78.16750336],
       [79.26750183],
       [79.39250183],
       [78.875     ]])

In [40]:
small.reshape(-1, 1)

array([[75.15000153],
       [75.14499664],
       [74.98999786],
       [75.22499847],
       [76.11000061],
       [77.60749817],
       [78.16750336],
       [79.26750183],
       [79.39250183],
       [78.875     ]])

### Portfolios

In [41]:
tickers = ['AAPL', 'MSFT', 'TWTR', 'IBM']
start = dt.datetime(2020, 1, 1)

data = pdr.get_data_yahoo(tickers, start)

In [42]:
data.head()

Attributes  Adj Close                                         Close  \
Symbols          AAPL        MSFT       TWTR         IBM       AAPL
Date
2020-01-02  73.894325  157.289871  32.299999  115.726616  75.087502
2020-01-03  73.175934  155.331329  31.520000  114.803673  74.357498
2020-01-06  73.759003  155.732849  31.639999  114.598587  74.949997
2020-01-07  73.412117  154.312927  32.540001  114.675476  74.597504
2020-01-08  74.593033  156.770859  33.049999  115.632614  75.797501

Attributes                                          High              ...  \
Symbols           MSFT       TWTR         IBM       AAPL        MSFT  ...
Date                                                                  ...
2020-01-02  160.619995  32.299999  129.464630  75.150002  160.729996  ...
2020-01-03  158.619995  31.520000  128.432129  75.144997  159.949997  ...
2020-01-06  159.029999  31.639999  128.202682  74.989998  159.100006  ...
2020-01-07  157.580002  32.540001  128.288712  75.224998  159.669998  ...
2020-01-08  160.089996  33.049999  129.359467  76.110001  160.800003  ...

Attributes        Low                   Open                         \
Symbols          TWTR         IBM       AAPL        MSFT       TWTR
Date
2020-01-02  31.959999  128.843216  74.059998  158.779999  32.310001
2020-01-03  31.260000  127.686424  74.287498  158.320007  31.709999
2020-01-06  31.160000  127.342255  73.447502  157.080002  31.230000
2020-01-07  31.719999  127.533463  74.959999  159.320007  31.799999
2020-01-08  32.349998  128.030594  74.290001  158.929993  32.349998

Attributes                   Volume
Symbols            IBM         AAPL        MSFT        TWTR        IBM
Date
2020-01-02  129.063095  135480400.0  22622100.0  10721100.0  3293436.0
2020-01-03  127.695984  146322800.0  21116200.0  14429500.0  2482890.0
2020-01-06  127.552582  118387200.0  20813700.0  12582500.0  2537073.0
2020-01-07  127.810707  108872000.0  21634100.0  13712900.0  3232977.0
2020-01-08  128.594650  132079200.0  27746500.0  14632400.0  4545916.0

[5 rows x 24 columns]

In [43]:
data = data['Adj Close']

In [44]:
data.head()

Symbols          AAPL        MSFT       TWTR         IBM
Date
2020-01-02  73.894325  157.289871  32.299999  115.726616
2020-01-03  73.175934  155.331329  31.520000  114.803673
2020-01-06  73.759003  155.732849  31.639999  114.598587
2020-01-07  73.412117  154.312927  32.540001  114.675476
2020-01-08  74.593033  156.770859  33.049999  115.632614

In [45]:
portfolios = [.25, .15, .40, .20]

In [46]:
np.sum(portfolios)

1.0

In [47]:
(data/data.iloc[0])*portfolios*100000

Symbols             AAPL          MSFT          TWTR           IBM
Date
2020-01-02  25000.000000  15000.000000  40000.000000  20000.000000
2020-01-03  24756.953117  14813.223014  39034.057216  19840.495964
2020-01-06  24954.217536  14851.514079  39182.662708  19805.052820
2020-01-07  24836.858835  14716.102765  40297.215708  19818.340868
2020-01-08  25236.387428  14950.504208  40928.792592  19983.754512
...                  ...           ...           ...           ...
2022-02-18  56601.099770  27458.537900  42501.548614  21490.302382
2022-02-22  55592.904717  27438.511997  40780.187100  21415.989260
2022-02-23  54155.040583  26728.039147  40569.658322  21096.270506
2022-02-24  55058.356961  28093.671327  43318.885905  21078.988661
2022-02-25  55772.214420  28353.065133  43702.788544  21460.923113

[543 rows x 4 columns]

We can get the sum of the full return as follows.

In [48]:
np.sum((data/data.iloc[0])*portfolios*100000, axis=1)

Date
2020-01-02    100000.000000
2020-01-03     98444.729311
2020-01-06     98793.447144
2020-01-07     99668.518176
2020-01-08    101099.438739
                  ...
2022-02-18    148051.488667
2022-02-22    145227.593074
2022-02-23    142549.008558
2022-02-24    147549.902854
2022-02-25    149288.991210
Length: 543, dtype: float64

### A random portfolio 

A random portfolio can be generated as follows with NumPy

Actually, when we get to Monte Carlo Simulation, this will be handy. There, we will generate multiple random portfolios and calculate the return and risk for each of them, to optimize the portfolio composition.

weight = np.random.random(4)
weight /= weight.sum()
weight

In [50]:
weight.sum()

1.0000000000000002

In [51]:
np.sum((data/data.iloc[0])*portfolios*100000, axis=1)

Date
2020-01-02    100000.000000
2020-01-03     98444.729311
2020-01-06     98793.447144
2020-01-07     99668.518176
2020-01-08    101099.438739
                  ...
2022-02-18    148051.488667
2022-02-22    145227.593074
2022-02-23    142549.008558
2022-02-24    147549.902854
2022-02-25    149288.991210
Length: 543, dtype: float64

Compare the random generated portfolio with the portfolio we defined before

In [52]:
np.sum((data/data.iloc[0])*weight*100000, axis=1)

Date
2020-01-02    100000.000000
2020-01-03     98501.891492
2020-01-06     98769.510145
2020-01-07     99229.986038
2020-01-08    100667.755921
                  ...
2022-02-18    149994.863846
2022-02-22    148125.639132
2022-02-23    145158.691979
2022-02-24    151338.233417
2022-02-25    152977.715139
Length: 543, dtype: float64

This is just one randomly generated portfolio and it has more return than the intial portfolio. Can we repeat this process and find the best portfolio?

# End